.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 120px;
  background-color: var(--color-bg);
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}


.logoText {
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
}

.navLinks {
  display: flex;
  gap: 32px;
  list-style: none;
}

.navLinks li a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #8C786D;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navLinks li a:hover {
  color: #050201;
}

.navLinks li.active a {
  color: #050201;
  font-weight: 600;
}

.cta {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .navbar {
    padding: 24px 32px;
  }
  
  .navLinks {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 20px;
  }
}
